body{
    background-color: black;
}
.arm{
    text-align: center;
    margin-top: 10%;
}
.arm img{
    height: 50px;
    width: 50px;
}
.article{
    margin-top: 2%;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.buttons{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
}
button{
    background-color: white;
    border-radius: 50px;
    width: auto;
    height: 30px;
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 5px;
    margin-top: 5px;
    border:none;
}
.text{
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 4%;
    margin-left: 35%;
    margin-right: 35%;
}